/* General Style Rules */
body {
  padding-top: 65px;
  font-family: "Roboto", sans-serif !important;
  font-size: 14px;
}
ol, ul {
  list-style: none;
}
.cs_primary{
  background-color: #F3F5F9;
}
.cs_secondary{
  background-color: #FFF;
}
.cs_tertiary{
  background: rgb(2,0,36);
  background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(0,66,188,1) 100%);
  color: white;
}

/* End General Style Rules */

/*** HEADER ***/

/** NAVBAR **/
/* Nav General */
nav {
  max-height: 65px;
  width: 100%;
}
nav ul {
  margin-bottom: 0;
}
.navbar-default {
  background-color: #fff!important;
}

/* Logo */
.cs_navbar{
  background: #fff;
  line-height: 65px;
}
.cs_navbar .logo img{
  height: 30px;
}
.cs_burger i{
  color: #4690ff;
}

/* Menu */
.cs_menu ul li {
  margin-left: 10px;
}
.cs_menu a{
  color: #172e5a;
  font-weight: 500;
}
.cs_menu i {
  margin-left: 3px;
}
.cs_menu a:hover {
  text-decoration: none;
}
.cs_menu .btn-default {
  color: #4690ff;
  background-color: #fff;
  border-color: #4690ff;
}
/** END NAVBAR **/

/** JUMBO **/
.jumbotron {
  background-image: url("../img/bg-header.jpg");
  background-size: cover;
}
.cs_text {
  margin: 30px auto;
  color: white;
}

.cs_form {
  /* width: 450px; */
  margin: 30px auto;
  padding: 30px;
  background-color: white;
  border-radius: 5px;
}
.cs_form .cs_cta-text {
  color: #4690ff;
  margin-top: 5px;
}

/* Form Buttons */
.cs_form .cs_button {
  margin: 10px 0;
  padding: 10px 0;
  width: 100%;
  border-radius: 5px;
  box-shadow: 0px 0px 20px -11px rgba(0,0,0,0.7);
}
.cs_form .cs_button:hover {
  box-shadow: 0px 0px 25px -11px rgba(0,0,0,0.7);
}

.cs_form .cs_button_account {
  background-color: #4690ff;
  border: 1px solid #4690ff;
}
.cs_form .cs_button_account a{
  color: white;
}

.cs_form .cs_button_google {
  background-color: white;
  border: 1px solid white;
}
.cs_form .cs_button_google img {
  height: 15px;
  float: left;
  margin-left: 10px;
}
.cs_form .cs_button_google a{
  color: #6f6f6f;
  margin-left: -25px;
}

.cs_form .disclaimer {
  margin-top: 5px;
}
/* End Form Buttons */
/** END JUMBO **/
/*** END HEADER ***/


/* FOOTER */
footer {
  background-color: #031C4E;
}
.cs_footer {
  margin: 70px auto;
}
.cs_legal {
  margin-top: 20px;
}
.cs_legal span{
  color: rgba(255,255,255,0.4);
}
.cs_legal p{
  color: rgba(255,255,255,0.2);
}
.cs_footer li {
  margin-top: 5px;
}
.cs_footer li h4{
  margin-bottom: 20px;
  color: white
}
.cs_footer li a{
  color: rgba(255,255,255,0.4);
}
.cs_footer li a:hover{
  text-decoration: none;
  color: rgba(255,255,255,0.8);
  transition: 0.1s;
}
/* END FOOTER */
